<h1 class = "Gold">
  Welcome to the Rock Paper Scissors Webpage

</h1>

<bod class = "body2">

  <div>Please to run please enter your result in the address bar.</div>
  <div>Format is "RPS/player1_selection/player2_selection"</div>
</bod>
